@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');
/*font-family: 'Bitter', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Mulish:wght@200&display=swap');
/*font-family: 'Bitter', serif;
font-family: 'Mulish', sans-serif;*/
/* Body */
.corpo{
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;
    background-image: url(programing%20world.jpg);
    background-size: cover;
    color: black;
}
.menu{
    top:0px;
    position: static;
    margin-bottom: 100px; 
}
.menu > ul{
    text-align: center;
    background-image: url(linguagens-de-programacao-2.jpg);
    margin-top: 0px;
}
.menu > ul > li{
    /* alinhar (home galeria, post e contato)*/
    display: inline-block; 
    font-size: 64px;
    padding: 3%;
}
a{
    color: purple;
    text-decoration-line: none;
}
.post > a :hover{
    font-size: 105%;
    background-color:purple;
    transition: 1s;
}
section{
    background-color: antiquewhite;
    max-width:  80%;
    margin-left: 10%;
    border-radius: 6px;
    padding: 2%
    
}

footer{
    text-align:  center;
    
    background-image:url(fundo.webp);
    color: aliceblue;
    width: 100%;
    height: 40%;
    position:relative;
    bottom: 0;
    left: 0;
}
h6 {
    font-size: 50px;
    margin: 0%;
}
h5 {
    font-size: 30px;
    margin-bottom: 30px;
}
.linha{
    max-width: 100%;
    display: inline-block;
    text-align:center;

}
.umaimg > img{
    max-width: 80%;
    margin: 2%;
}
.duasimg > img{
    max-width: 40%;
    margin:  2%;

}
.tresing > img{
    max-width: 28%;
    margin:  2%;

}
.quatroimg > img{
    max-width: 22%;
    margin:  1%;

}
.pers{
    background-image:url(Background-image.jpg);
     background-size: cover;
    margin-top: 10px;
   
}
.imagem-centermekar{
     position: relative;
   
    max-width:1%;
    display: block;
    margin-left: 35%;
    margin-right: 56%;
}
.imagem-centermekar1{
     position: relative;
   
    max-width:50%;
    display: block;
    margin-left: 26%;
    margin-right: 56%;
}
.imagem-centermekar2{
     position: relative;
   
    max-width:50%;
    display: block;
    margin-left: 38%;
    margin-right: 60%;
}
.center{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.centralizar{
text-align: center;
}
.Tyousei-1{
    text-align: center;
    background-size: cover;
    max-width:10%;
    margin-left: 80px;
   
}