body{
    background-color: #424242;
}
menu{
    top: 0px;
    position: static;
    margin-bottom: 100px;
}
menu > ul > li{
    display: inline-block;
    font-size: 200%;
    padding: 2%;
}
a{
    text-decoration-line: none;
}
posts > a :hover{
    font-size: 105%;
    background-color: #d789d7;
    transition: 1s;
}
section{
    background-color: antiquewhite;
    max-width: 80%;
    margin-left: 10%;
    border-radius: 6px;
    padding: 2%;
}
footer{
    text-align: center;
    background: #6d6d6d;
    width: 100%;
    height: 80px;
    position: ;
    bottom: 0;
    left: 0;
}
input{
    display: block;
    margin-bottom: 20px;
    border-radius: 2px;
}
.linha{
    max-width: 100%;
    display: inline-block;
    text-align: center;
}
umaimg > img{
    max-width: 80%;
    margin: 2%;
}
duasimg > img{
   max-width:40%;
    margin: 2%;
}
treasimg > img{
    max-width: 28%;
    margin: 2%;
}
.quatroimg > img{
    max-width: 22%;
    margin: 1%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
p{
    font-size: "Open Sans" , sans-serif;
    color: white;
}
html{
    background-color: black;
}
mark{
    background-color: #0d47a1;
    color: ;
}