a{
    text-decoration-line: none !important;
    color:#363636 !important;
}

li{
    background-color: #fff;
    transition: 0.8s;
}

li:hover{
    background-color: #d9d9d9;
    transition: 0.5s;
}
