/* fontes: euphemia, cooper black, candara;
cores: #faf3e0, #1e212d, #b68973,#eabf9f */

 body {
 	background-color: #faf3e0; 
 	background-position: roll;
 	font: 85% euphemia, hevetica, sans-serif;
	font-weight: bold;
 	color: #faf3e0;
	text-decoration: none;
	float: center;
	width: 95%;
	padding-top: 10px;
	padding-bottom: 7.75px;
	margin: 3 auto;
	left: 5px;
}

li{
	font: 115% cooper black, hevetica, sans-serif;
	text-decoration: none;
	list-style: none;
}

.menu{
	background-color: #1E212D;
    color: #faf3e0;
	font-size: 85%;
	font-style: normal;
	word-spacing: 100px;
	float: center;
	position: static;
	width: 100%;
	margin-right: 0%;
	margin-bottom: 1.25%;
	margin-left: 1.75%;
	margin top: 0%; 
	top: 0px; 
	bottom:-50%;
	border-radius:  5.5px 5.5px 12.25px 12.25px;
	border-style: solid;
	border-color: #1e212d;
	box-shadow: 2.25px 0.5px 50.25px #000;
}

.menu > ul{
	background-color: #1e212d;
	font-family: 30%, candara, hevetica, sans-serif;
	font-weight: bolder;
	color: #faf3e0;
	text-align: center;
	margin-top: -7.75px;	
}

.menu > ul > li{
	font-size: 170%;
	display: inline-block;
	padding: 0.5%;
}


.Home :hover{
	font-family: cooper black;
	font-size: 80%;
	color: #b68973;
	transition: 5.75s;
}

.Pacotes :hover{
	font-family: cooper black;
	font-size: 80%;
	color: #b68973;
	transition: 5.75s;
}

.Continentes :hover{
	font-family: cooper black;
	font-size: 80%;
	color: #b68973;
	transition: 5.75s;

}

.Sobre :hover{
	font-family: cooper black;
	font-weight: bolder;
	font-size: 100%;
	color: #b68973;
	transition: 5.75s;
}

.Contato :hover{
	font-family: cooper black;
	font-weight: bolder;
	font-size: 80%;
	color: #b68973;
	transition: 5.75s;
}

.Continentestxt {
   visibility: hidden;
}

.Continentestxt :hover{
	background-color: #999999; 
	visibility: visible;
	border-radius: 20px;
}

.Continentestxt span{
	 display: none;
}

a {
	font: 105% cooper black, hevetica, sans-serif;
	color: #faf3e0;
	text-shadow: none;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

article{
	background-color: #eabf9f;
	font-size: 95%;
	font-family: candara;
	color: #b68973;
	text-align: center;
	position: relative;
	padding: 1.25%;
	border-radius: 5.5px 5.5px 12.25px 12.25px;
	border-radius: #FFE4E1;
	border-spacing: 1.25px;
}

.artigo, .artigo1{
 	background-color: #b68973;
	font: 90% cooper black, hevetica, sans-serif;
	font-weight: bold;
	color: #1e212d;
	text-align: center;
	text-shadow: 0px 1.45px 2px #b68973;
	position: relative;
	width: 1300px;
	}

.artigo1{
	background-image: url(bcg_img.jpg);
	font: 90% cooper black, hevetica, sans-serif;
	font-weight: bold;
	color: #1e212d;
	position: relative;
	width: 1300px;
	margin-top: 36.75%;
	text-shadow: 0px 1.45px 2px #b68973;
}

.art{
 	font-size: 105%;
 }



img{
	width: 25px;
	height: 25px;
	padding-top: 15px;
}

.img1{
	float: center;
	position: relative;
	width: 1330px;
  	height: 469.75px;
  	padding: 0px;
	margin: 0px;
  	opacity: 0.25;
}

.imgtext{
	font-size: 175%;
	font-family: cooper black;
	font-style:  normal;
	font-weight: bolder;
	color: #1e212d;
	float: center;
	position: absolute;
	top: 15%;
	left: 2.5%;
	transform: translate(220%, 440%);
	text-shadow: 1.5px 3.45px 2.75px #b68973;
}

p{
	font: cooper black, hevetica, sans-serif;
	color: #1e212d;
	text-shadow: 0px 1.45px 2px #b68973;
}

.pic{
	background-color: #eee;
	justify-content: center;
	display:inline-block;
	display: block;
	float: left;
	clear: both;
	text-align: center;
	width: 50%;
	height: 85%;	
	border: 1px solid #fff;
	padding: 5px 5px 15px 5px;
	padding-left: 0.75px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 315px;
	margin-right: 80px;
	-moz-box-shadow: 0px 2px 15px #333;
	-webkit-box-shadow: 0px 2px 15px #333;
	-o-box-shadow: 0px 2px 15px #333;
	grid-row: 2 / span 1;
}

.text-vid{
	color: #faf3e0;
	margin: 1%;
}

.txt{
	font-size: 150%;
	color: #1e212d;
}

footer{
	background-color: #eabf9f;
	font: 105% euphemia, hevetica, sans-serif, bold;
    font-size: 100%;
    color: #b68973;
    text-decoration: none;
    text-align: center;
    float: center; 
    position: absolute;
    width: 1332.75px;
    height: 95px;
    top: 460%;
    bottom: -10px;
    border-radius: 5.5px 5.5px 12.25px 12.25px;
    border-radius: #FFE4E1;
    border-spacing: 1.25px;
}