a{
    text-decoration-line: none !important;
    color:#363636 !important;
    cursor: pointer !important;
}

.animated{
    animation-name: fadeIn !important;
    animation-duration: 2s !important;
}
@keyframes fadeIn {
    0% {opacity:0;}
  100% {opacity:1;}
}