/*Importando FOntes*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

/*
font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif;
*/

/*
cores do projeto
fundo: #261C2C;

*ui*
lista:#624467;
selecionado:#9B4CA8;
utilizado:#624467;
menu-back:#5C527F;
menu-borda:#6E85B2;

*sombras*
título:#432F49;
linha:#6E85B2;
selecionado:#6EB27E;

*letras*
título:#6E85B2;
*demais txt:#E1E1E1;*
*/

body{
    font-family: sans-serif;
    background-color: #261C2C;
    margin: 0px;
}
section{
    text-align: center;
    margin-bottom: 24%;
    
}
section > header{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    color: #6E85B2;
    text-shadow: 0px 4px 0px #432F49;
}
.lista ul{
    list-style: none;
    padding-left: 0px;
    
}
.lista li{
    transition: 0.5s;
    color: #E1E1E1;
    border-radius: 10px;
    max-width: 80%;
    padding: 14px;
    margin: 0% 0% 5% 7%;
    box-shadow: 0px 4px 0px #6E85B2;
    background-color: #624467;
    transition: 0.3s;
    
}
.additem{
    padding: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 6px;
    border-color: #fff;
}

/*---menu---*/
.menu ul{
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 12%;
    list-style: none;
    margin:0px;
    padding: 0px;
    text-align: center;
    background-color: #5C527F;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -4px 0px #6E85B2;
}
.menu li{
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    background-color:#E1E1E1;
    margin: 4% 8% 0% 8%;
    padding: 3%;
    align-items: center;
    border-radius: 40px;
    vertical-align: middle;
    box-shadow: 0px 0px 8px #6E85B2;
}
.menu img{
    cursor: pointer;
    width: 100%;
}

.selecionado{
    box-shadow: 0px 6px 0px #6EB27E !important;
    background-color: #9B4CA8 !important;
    transition: 0.3s;
}