@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body,h1,h2,label{
    color:#999999 !important;
    font-family: 'Varela Round', sans-serif;
}

.CreateAccount,form{
    border-radius: 20px;
    border-bottom-color: #999;
    border-bottom-width: 6px;
}