/*imporntando fonte do texto padrão*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/*
usando a fonte:
font-family: 'Roboto Mono', monospace;
*/

/*
icons
edit:
<div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

delete:
<div>Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

add:
<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

*/

/*
60% cor predominante: #7EB5A6
30% cor secundária: #86340A
10%\ cor secundária-light: #C36839
10%/ detalhes: #E8D0B3
texto> : #ffffff
*/
/* lista */
@font-face{
    font-family:"LemonBrownies";
    src: url("font/LemonBrownies.ttf");
}

body{
    font-family: arial;
    background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
background-size: 20px 20px;
    margin: 0px;
}
section{
    max-width: 100%;
    text-align: center;
    margin-bottom: 30%;
}
section > header{
    color: #232323;
    font-family: LemonBrownies;
    font-size: 1.4em;
}
.lista{
    margin-top: 40px;
    list-style: none;
    padding: 0% 0% 10%px 0%;
}
.lista li{
    font-family: 'Roboto Mono', monospace;
    color:#ffffff ;
    max-width: 80%;
    margin: 4% 0% 4% 5%;
    background-color: #232323; 
    box-shadow: 0px 0px 8px rgb(44, 211, 44);
    padding: 10px;
    border-radius: 6px;
}
/* fimlista */
/*************************/
/* menu */
.menu{
    background-color: #232323;
    border-radius: 20px 20px 0px 0px;
    left: 0px;
    bottom: 0px;
    margin: 0px 0px 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
}
.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.menu ul li{
    display: inline-block;
    margin: 10px 5% 10px 5%;
    background-color: #fff;
    border-radius:12px;
    cursor: pointer;
}

/* fim menu */

.desabilitado{
    color: #00000030;
    text-decoration-line: line-through;
    background-color: #86340a6b;
}

.selecionado{
    background-color: #0a7b86 !important;
}