@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap') ;
/*
	 font-family: 'Benne', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
/*
font-family: 'Stint Ultra Condensed', cursive;
*/
.body{
				font-family: sans-serit;
				padding: 0px;
				margin: 0px;
				/*valores costumizaveis*/
				background-color: #805896;
				color: #000000;
				/*---------------------*/
}
.menu {
				top: 0px;
				position: static;
				/*valores costumizaveis*/
				margin-bottom:100px;
				/*---------------------*/
}
/* BEATRIZ DOS SANTOS */
.menu > ul{
				text-align: center;
				background: #805896;
				margin-top:0px;
}
.menu > ul > li{
				display: inline-block;
				font-size: 200%;
				padding: 2%;
}
a{
				text-decoration-line: none;
}
.posts > a :hover{
				font-size:105%;
				background-color: #805896;
				transition: 1s;
}
section{
				background-color: purple;
				max-width: 80%;
				margin-left: 10%;
				border-radius: 6px;
				padding: 2%;
}
footer{
				text-align: center;
      background: #805896;
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
}
.linha{
				max-width: 100%;
				display: inline-block;
				text-align: center;
}
.umaimg > img{
				max-width: 80%;
				margin: 2%;
}
.duasimg > img{
			 max-width: 40%;
				margin: 2%;
}
.tresimg > img{
				max-width: 28%;
				margin: 2%;
}
.quatroimg > img{
				max-width: 22%;
				margin: 1%;
}